In [190]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer

In [191]:
data = pd.read_csv('job_roles_skills_salary.csv')

In [192]:
data

,Job Role,Required Skills,Expected Salary (INR),Soft Skills
0,Data Scientist,"Python, R, SQL, Machine Learning, Data Analysi...","₹6,00,000 - ₹10,00,000","Analytical Thinking, Problem-Solving, Attentio..."
1,Software Engineer,"Java, Python, C++, JavaScript, Git, Algorithms...","₹4,00,000 - ₹8,00,000","Teamwork, Communication, Adaptability"
2,Data Analyst,"Excel, SQL, Python, Data Cleaning, Data Visual...","₹3,00,000 - ₹6,00,000","Critical Thinking, Detail-Oriented, Presentati..."
3,Machine Learning Engineer,"Python, TensorFlow, PyTorch, Deep Learning, Ma...","₹5,00,000 - ₹9,00,000","Curiosity, Analytical Skills, Patience"
4,Web Developer,"HTML, CSS, JavaScript, React, Node.js, Git, Re...","₹3,00,000 - ₹6,00,000","Creativity, Problem-Solving, Time Management"
5,DevOps Engineer,"Docker, Kubernetes, Jenkins, CI/CD, AWS, Linux...","₹6,00,000 - ₹10,00,000","Collaboration, Initiative, Attention to Detail"
6,Cloud Engineer,"AWS, Azure, Google Cloud, Docker, Kubernetes, ...","₹5,00,000 - ₹8,00,000","Communication, Problem-Solving, Flexibility"
7,Business Analyst,"SQL, Excel, Data Analysis, Project Management,...","₹4,00,000 - ₹7,00,000","Analytical Thinking, Decision-Making, Interper..."
8,Cybersecurity Analyst,"Network Security, Firewalls, Ethical Hacking, ...","₹5,00,000 - ₹9,00,000","Integrity, Detail-Oriented, Analytical Skills"
9,UX/UI Designer,"Figma, Adobe XD, Sketch, Wireframing, Prototyp...","₹3,50,000 - ₹6,50,000","Empathy, Communication, Creativity"
10,Product Manager,"Project Management, Agile, Communication, Mark...","₹6,00,000 - ₹10,00,000","Leadership, Strategic Thinking, Negotiation"
11,Mobile App Developer,"Swift, Kotlin, Java, Android SDK, iOS SDK, UI/...","₹4,00,000 - ₹7,00,000","Creativity, Communication, Problem-Solving"
12,Network Engineer,"TCP/IP, Cisco, Routing, Switching, Network Sec...","₹3,50,000 - ₹6,50,000","Patience, Troubleshooting, Communication"
13,Digital Marketing Manager,"SEO, SEM, Google Analytics, Content Creation, ...","₹3,50,000 - ₹7,00,000","Creativity, Flexibility, Interpersonal Skills"
14,Financial Analyst,"Excel, Financial Modeling, Forecasting, SQL, D...","₹4,00,000 - ₹7,00,000","Analytical Thinking, Attention to Detail, Pres..."
15,AI Engineer,"Python, TensorFlow, PyTorch, Machine Learning,...","₹6,00,000 - ₹12,00,000","Critical Thinking, Curiosity, Problem-Solving"
16,Full Stack Developer,"JavaScript, HTML, CSS, React, Node.js, SQL, Mo...","₹4,00,000 - ₹8,00,000","Adaptability, Collaboration, Problem-Solving"
17,Backend Developer,"Python, Java, Node.js, SQL, Databases, REST AP...","₹4,00,000 - ₹7,50,000","Analytical Thinking, Communication, Patience"
18,Frontend Developer,"HTML, CSS, JavaScript, React, Angular, Respons...","₹3,00,000 - ₹6,00,000","Creativity, Attention to Detail, Time Management"
19,QA Engineer,"Selenium, Java, Python, Manual Testing, Automa...","₹3,50,000 - ₹6,50,000","Patience, Attention to Detail, Communication"
20,Big Data Engineer,"Hadoop, Spark, SQL, Python, Java, Data Warehou...","₹5,00,000 - ₹9,00,000","Problem-Solving, Critical Thinking, Adaptability"
21,Database Administrator,"SQL, MySQL, Oracle, Database Management, Data ...","₹4,00,000 - ₹7,00,000","Attention to Detail, Problem-Solving, Patience"
22,Systems Engineer,"Linux, Windows Server, Networking, Scripting, ...","₹3,00,000 - ₹6,00,000","Teamwork, Flexibility, Problem-Solving"
23,Blockchain Developer,"Solidity, Ethereum, Smart Contracts, Python, C...","₹6,00,000 - ₹10,00,000","Innovation, Attention to Detail, Problem-Solving"
24,Embedded Systems Engineer,"C, C++, Embedded C, Microcontrollers, RTOS, Fi...","₹4,00,000 - ₹7,00,000","Problem-Solving, Patience, Detail-Oriented"
25,IT Support Specialist,"Troubleshooting, Windows, Linux, Networking, C...","₹2,00,000 - ₹4,00,000","Patience, Communication, Problem-Solving"
26,Content Strategist,"SEO, Content Writing, Copywriting, Social Medi...","₹3,00,000 - ₹6,00,000","Creativity, Communication, Strategic Thinking"
27,Game Developer,"C++, Unity, Unreal Engine, Game Design, 3D Mod...","₹4,00,000 - ₹8,00,000","Creativity, Problem-Solving, Adaptability"
28,Operations Analyst,"Excel, SQL, Data Analysis, Process Improvement...","₹3,50,000 - ₹6,50,000","Analytical Skills, Time Management, Problem-So..."
29,HR Analyst,"Excel, SQL, Data Analysis, HR Metrics, Communi...","₹3,00,000 - ₹5,00,000","Communication, Empathy, Interpersonal Skills"

## Data Preprocessing

In [193]:
data = data[['Job Role','Required Skills','Expected Salary (INR)']]

In [194]:
data

,Job Role,Required Skills,Expected Salary (INR)
0,Data Scientist,"Python, R, SQL, Machine Learning, Data Analysi...","₹6,00,000 - ₹10,00,000"
1,Software Engineer,"Java, Python, C++, JavaScript, Git, Algorithms...","₹4,00,000 - ₹8,00,000"
2,Data Analyst,"Excel, SQL, Python, Data Cleaning, Data Visual...","₹3,00,000 - ₹6,00,000"
3,Machine Learning Engineer,"Python, TensorFlow, PyTorch, Deep Learning, Ma...","₹5,00,000 - ₹9,00,000"
4,Web Developer,"HTML, CSS, JavaScript, React, Node.js, Git, Re...","₹3,00,000 - ₹6,00,000"
5,DevOps Engineer,"Docker, Kubernetes, Jenkins, CI/CD, AWS, Linux...","₹6,00,000 - ₹10,00,000"
6,Cloud Engineer,"AWS, Azure, Google Cloud, Docker, Kubernetes, ...","₹5,00,000 - ₹8,00,000"
7,Business Analyst,"SQL, Excel, Data Analysis, Project Management,...","₹4,00,000 - ₹7,00,000"
8,Cybersecurity Analyst,"Network Security, Firewalls, Ethical Hacking, ...","₹5,00,000 - ₹9,00,000"
9,UX/UI Designer,"Figma, Adobe XD, Sketch, Wireframing, Prototyp...","₹3,50,000 - ₹6,50,000"
10,Product Manager,"Project Management, Agile, Communication, Mark...","₹6,00,000 - ₹10,00,000"
11,Mobile App Developer,"Swift, Kotlin, Java, Android SDK, iOS SDK, UI/...","₹4,00,000 - ₹7,00,000"
12,Network Engineer,"TCP/IP, Cisco, Routing, Switching, Network Sec...","₹3,50,000 - ₹6,50,000"
13,Digital Marketing Manager,"SEO, SEM, Google Analytics, Content Creation, ...","₹3,50,000 - ₹7,00,000"
14,Financial Analyst,"Excel, Financial Modeling, Forecasting, SQL, D...","₹4,00,000 - ₹7,00,000"
15,AI Engineer,"Python, TensorFlow, PyTorch, Machine Learning,...","₹6,00,000 - ₹12,00,000"
16,Full Stack Developer,"JavaScript, HTML, CSS, React, Node.js, SQL, Mo...","₹4,00,000 - ₹8,00,000"
17,Backend Developer,"Python, Java, Node.js, SQL, Databases, REST AP...","₹4,00,000 - ₹7,50,000"
18,Frontend Developer,"HTML, CSS, JavaScript, React, Angular, Respons...","₹3,00,000 - ₹6,00,000"
19,QA Engineer,"Selenium, Java, Python, Manual Testing, Automa...","₹3,50,000 - ₹6,50,000"
20,Big Data Engineer,"Hadoop, Spark, SQL, Python, Java, Data Warehou...","₹5,00,000 - ₹9,00,000"
21,Database Administrator,"SQL, MySQL, Oracle, Database Management, Data ...","₹4,00,000 - ₹7,00,000"
22,Systems Engineer,"Linux, Windows Server, Networking, Scripting, ...","₹3,00,000 - ₹6,00,000"
23,Blockchain Developer,"Solidity, Ethereum, Smart Contracts, Python, C...","₹6,00,000 - ₹10,00,000"
24,Embedded Systems Engineer,"C, C++, Embedded C, Microcontrollers, RTOS, Fi...","₹4,00,000 - ₹7,00,000"
25,IT Support Specialist,"Troubleshooting, Windows, Linux, Networking, C...","₹2,00,000 - ₹4,00,000"
26,Content Strategist,"SEO, Content Writing, Copywriting, Social Medi...","₹3,00,000 - ₹6,00,000"
27,Game Developer,"C++, Unity, Unreal Engine, Game Design, 3D Mod...","₹4,00,000 - ₹8,00,000"
28,Operations Analyst,"Excel, SQL, Data Analysis, Process Improvement...","₹3,50,000 - ₹6,50,000"
29,HR Analyst,"Excel, SQL, Data Analysis, HR Metrics, Communi...","₹3,00,000 - ₹5,00,000"

In [195]:
data['Required Skills'] = data['Required Skills'].apply(lambda x:[i.replace(" ",'') for i in x.split(',')])

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_26316\915316232.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Required Skills'] = data['Required Skills'].apply(lambda x:[i.replace(" ",'') for i in x.split(',')])

In [196]:
data['Required Skills'] = data['Required Skills'].apply(lambda x: " ".join(x))

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_26316\529625591.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Required Skills'] = data['Required Skills'].apply(lambda x: " ".join(x))

In [197]:
data['Required Skills'] = data['Required Skills'].apply(lambda x:x.lower())

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_26316\1989290775.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Required Skills'] = data['Required Skills'].apply(lambda x:x.lower())

In [198]:
data['Required Skills']

0     python r sql machinelearning dataanalysis stat...
1     java python c++ javascript git algorithms data...
2     excel sql python datacleaning datavisualizatio...
3     python tensorflow pytorch deeplearning machine...
4     html css javascript react node.js git responsi...
5     docker kubernetes jenkins ci/cd aws linux pyth...
6     aws azure googlecloud docker kubernetes networ...
7     sql excel dataanalysis projectmanagement busin...
8     networksecurity firewalls ethicalhacking pytho...
9     figma adobexd sketch wireframing prototyping u...
10    projectmanagement agile communication marketre...
11    swift kotlin java androidsdk iossdk ui/uxdesig...
12    tcp/ip cisco routing switching networksecurity...
13    seo sem googleanalytics contentcreation social...
14    excel financialmodeling forecasting sql dataan...
15    python tensorflow pytorch machinelearning deep...
16    javascript html css react node.js sql mongodb ...
17    python java node.js sql databases restapis mic...
18    html css javascript react angular responsivede...
19    selenium java python manualtesting automatedte...
20    hadoop spark sql python java datawarehousing e...
21    sql mysql oracle databasemanagement databackup...
22    linux windowsserver networking scripting virtu...
23    solidity ethereum smartcontracts python crypto...
24    c c++ embeddedc microcontrollers rtos firmware...
25    troubleshooting windows linux networking custo...
26    seo contentwriting copywriting socialmedia con...
27    c++ unity unrealengine gamedesign 3dmodeling a...
28    excel sql dataanalysis processimprovement proj...
29    excel sql dataanalysis hrmetrics communication...
Name: Required Skills, dtype: object

## Text-To-Vector

In [199]:
# model = CountVectorizer()
# vector = model.fit_transform(data['Required Skills']).toarray()

In [200]:
model = TfidfVectorizer()
vector = model.fit_transform(data['Required Skills']).toarray()

In [201]:
user_skill = ['html css javascript react node.js git']

In [202]:
user_vector = model.transform(user_skill)

## Similarity

In [203]:
simil = cosine_similarity(user_vector,vector).flatten()

In [204]:
vector

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.41540755, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [205]:
data['similarity'] = simil
recommended_jobs = data.sort_values(by='similarity', ascending=False)

print(recommended_jobs[['Job Role', 'similarity']][0:5])

                Job Role  similarity
4          Web Developer    0.919753
16  Full Stack Developer    0.823841
18    Frontend Developer    0.514853
17     Backend Developer    0.379275
1      Software Engineer    0.246272

## Pickle Import

In [206]:
import pickle
pickle.dump(data[['Job Role','Required Skills','Expected Salary (INR)']],open('job.pkl','wb'))

In [207]:
pickle.dump(vector,open('vector.pkl','wb'))

In [208]:
pickle.dump(model,open('model.pkl','wb'))